.dynks-enabled, .dynks-moving {
    cursor: ew-resize;
}

.number-input,
.dynks-enabled {
    padding: 0 0.1em;
    border-radius: 0.1em;

    transition: 200ms box-shadow;
    -webkit-transition: 200ms box-shadow;
}

.number-input:hover,
.dynks-enabled:hover {
    box-shadow: inset 0 0 5px #000;
}

.number-input:focus,
.dynks-active {
    box-shadow: inset 0 0 5px #000;
    background: #FFC;
}

.dynks-out-of-range {
    box-shadow: inset 0 0 10px #000;
}