html { height: 100%; }

body {
    margin: 0;
    font-size: 2em;
    overflow: hidden;
    height: 100%;
    cursor: default;
}

.visualization-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.visualization-exponential {
    font-size: 2.5em;
    margin: 2em 0 0 2em;
}

.number-wrapper {
    position: fixed;
    padding: 0.5em 1em;
    border-bottom: 1px dashed #AAA;
    background: rgba(255,255,255,0.9);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.number-input {
    -webkit-appearance: none;
    border: none;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-family: inherit;

    box-sizing: border-box;
    background: transparent;
}

.number-input:focus {
    outline: none;
}

.bits-wrapper {
    -webkit-transition: 300ms top;
    transition: 300ms top;
}


.visualization-bits {
    position: relative;
    margin: 5em 1em;
}

.visualization-bits .bits-wrapper .math {
    opacity: 0;
    transition: 200ms opacity;
}

.visualization-bits.expanded .bits-wrapper .math {
    opacity: 1;
    transition: 300ms 100ms opacity;
}

.visualization-bits .significand-wrapper .hidden { visibility: hidden; }
.visualization-bits.expanded .significand-wrapper .hidden { visibility: visible; }

.visualization-bits .significand-wrapper { top: 0px; }
.visualization-bits.expanded .significand-wrapper { top: 570px; }

.visualization-bits .exponent-wrapper { top: 0px; }
.visualization-bits.expanded .exponent-wrapper { top: 220px; }


.visualization-bits .full-equation {
    opacity: 0;
    position: absolute;
    top: 1000px;
    pointer-events: none;
    transition: 300ms opacity, 300ms top;
}

.visualization-bits.final .full-equation {
    opacity: 1;
    pointer-events: auto;
    top: 130px;
}


.visualization-bits.final-step-1 .full-equation .mrow,
.visualization-bits.final-step-2 .full-equation .mrow,
.visualization-bits.final-step-3 .full-equation .mrow {
    opacity: 0;
}

.visualization-bits.final-step-1 .full-equation .mrow:nth-child(1),
.visualization-bits.final-step-1 .full-equation .mrow:nth-child(2) {
    opacity: 1;
}

.visualization-bits.final-step-2 .full-equation .mrow:nth-child(1),
.visualization-bits.final-step-2 .full-equation .mrow:nth-child(2),
.visualization-bits.final-step-2 .full-equation .mrow:nth-child(3) {
    opacity: 1;
}

.visualization-bits.final-step-3 .full-equation .mrow:nth-child(1),
.visualization-bits.final-step-3 .full-equation .mrow:nth-child(2),
.visualization-bits.final-step-3 .full-equation .mrow:nth-child(3),
.visualization-bits.final-step-3 .full-equation .mrow:nth-child(4) {
    opacity: 1;
}


.visualization-bits.zoomed {
    zoom: 1.2;
}

.significand-wrapper .bits::before,
.significand-wrapper .bits::after {
    content: "00000000000000000";
    position: absolute;
    font-size: 20px;
    font-family: monospace;
    line-height: 50px;
    letter-spacing: 3px;
    color: #BBB;

    pointer-events: none;
    opacity: 0;

    transition: 300ms opacity;
}

.significand-wrapper .bits::before {
    right: 794px;
}

.significand-wrapper .bits::after {
    left: 782px;
}

.visualization-bits.expanded.show-significand-overflow .significand-wrapper .bits::before,
.visualization-bits.expanded.show-significand-overflow .significand-wrapper .bits::after {
    opacity: 1;
}

.full-equation.collapsed .mrow { visibility: hidden }
.full-equation.collapsed .mrow:first-child { visibility: visible }

.full-equation .significand-sum { padding: 0.6em 0.1em; }

/* hover styles for part of equations related to hovered bits */

[class*=significand-bit-] {
    padding: 0 0.1em;
}

.hover {
    border-radius: 0.1em;
    background: rgba(255, 255, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
